<h2 class="page-header">Recently Added</h2>
<div>
    <% vinyls.forEach(vinyl => { %>
        <a href="/vinyls/<%= vinyl.id %>">
        <img height="150" width ="150" src="<%= vinyl.coverImagePath %>">
        </a>
    <% }) %>
</div>