<h2>Upload Vinyl to Cloud</h2>
<form action="/vinyls" method="POST" enctype="multipart/form-data">
    <%- include('_form_fields') %>
    <a href="/vinyls">Cancel</a>
    <button type="submit">Upload to Cloud</button>
</form>