<header>
    <h2>New Vinyl</h2>
        <nav>
            <ul>
                <li><a href="/vinyls/local">Upload Locally</a></li>
                <li><a href="/vinyls/cloud">Upload to Cloud</a></li>
            </ul>
        </nav>

</header>
