<h2 class="page-header"><%= artist.name %></h2>
<div class="btn-row">
  <a class="btn btn-primary" href="/artists/<%= artist.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm',
  { url: `/artists/${artist.id}` }) %>
  <% if (vinylsByArtist.length > 0) { %>
</div>
  <h2 class="page-header">Vinyls By Artist</h2>
  <%- include('../partials/vinylGrid', {vinyls: vinylsByArtist, large: true}) %>
<% } %>